@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

* 
{
    font-family: "roboto";
}
  
h1
{
    font-family: "Shrikhand";
}

h3
{
    margin-bottom: 0%;
}

.subtitle-homepage
{
    font-family: "Roboto";
    display: flex;
    justify-content: center ;
    font-weight: bold;
    font-variant: normal !important;
}

.quote
{
    font-family: "shrikland";
    font-size: xx-large;
}

body 
{
    width: 100%;
    margin: 0px;
}

a 
    {
      text-decoration: none;
      color: black;
    }

    a:visited
    {
      color: black;
    }


/* COLOR RULES */






